body,
html,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}
h1 {
  display: inline-block;
  color: #fff;
  font-size: 100px;
}
#menu {
  margin: 0;
  padding: 0;
  position: fixed;
  left: 10px;
  top: 10px;
  list-style-type: none;
  z-index: 70;
}
#menu li {
  float: left;
  margin: 0 10px 0 0;
  font-size: 14px;
}
#menu a {
  float: left;
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}
#menu .active a {
  color: #fff;
  background-color: #333;
}
.section {
  text-align: center;
  font: 50px "Microsoft Yahei";
  color: #fff;
}
.one .hello {
  padding-top: 200px;
}
.one .hello h1 {
  padding-left: 30px;
  padding-right: 30px;
  opacity: 0;
}
.one .hello p {
  font-size: 50px;
  color: #fff;
  opacity: 0;
}
.one.current .hello h1 {
  padding-left: 0;
  padding-right: 0;
  opacity: 1;
  transition: all 1.5s;
}
.one.current .hello p {
  opacity: 1;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.two .person {
  padding-top: 100px;
}
.two .person h2 {
  font-size: 50px;
}
.two .person p {
  font-size: 20px;
  text-align: left;
  margin-left: 25%;
  padding-right: 20%;
  opacity: 0;
}
.two img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 302px;
  left: 860px;
}
.two.current .person p {
  opacity: 1;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.three h2 {
  font-size: 70px;
}
.three .list {
  width: 80%;
  margin: 0 auto 0;
}
.three .list .h {
  display: inline-block;
  margin: 0 0% ;
}
.three .list .h:nth-of-type(1) img {
  transform: translate(-100px, -178px) rotate(-250deg);
}
.three .list .h:nth-of-type(2) img {
  transform: translate(135px, 150px) rotate(60deg);
}
.three .list .h:nth-of-type(3) img {
  transform: translate(187px, -100px) rotate(35deg);
}
.three .list .h:nth-of-type(4) img {
  transform: translate(200px, 100px) rotate(250deg);
}
.three .list .h:nth-of-type(5) img {
  transform: translate(-200px, 50px) rotate(-180deg);
}
.three .list .h:nth-of-type(6) img {
  transform: translate(-41px, 94px) rotate(80deg);
}
.three .list .h:nth-of-type(7) img {
  transform: translate(-90px, -400px) rotate(120deg);
}
.three .list .h:nth-of-type(8) img {
  transform: translate(-125px, 100px) rotate(99deg);
}
.three .list .h:nth-of-type(9) img {
  transform: translate(-160px, 100px) rotate(75deg);
}
.three .list .h:nth-of-type(10) img {
  transform: translate(-15px, 50px) rotate(-99deg);
}
.three .list .h img {
  width: 50%;
}
.three .list .h img:hover {
  transform: scale(1.2);
}
.three .list .h p {
  font-size: 50%;
  opacity: 0;
}
.three.current .list .h img {
  transform: translate(0, 0) rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.three.current .list .h img:hover {
  transform: scale(1.2);
}
.three.current .list .h p {
  opacity: 1;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.four .slide .content img {
  width: 200px;
  height: 400px;
}
.four .slide .content img:nth-of-type(1) {
  transform: translate(0, -100%);
}
.four .slide .content img:nth-of-type(2) {
  transform: translate(0, 100%);
}
.four .slide .content img:nth-of-type(3) {
  transform: translate(0, -100%);
}
.four .slide .content img:nth-of-type(4) {
  transform: translate(0, 100%);
}
.four .slide .content img:nth-of-type(5) {
  transform: translate(0, -100%);
}
.four .slide .content2 img {
  width: 400px;
  height: 200px;
}
.four .slide .content2 img:nth-of-type(1) {
  transform: translate(0, -100%);
}
.four .slide .content2 img:nth-of-type(2) {
  transform: translate(0, 100%);
}
.four .slide .content2 img:nth-of-type(3) {
  transform: translate(0, -100%);
}
.four .slide .content2 img:nth-of-type(4) {
  transform: translate(0, 100%);
}
.four .slide .content2 img:nth-of-type(5) {
  transform: translate(0, -100%);
}
.four .slide p {
  margin: 0 auto;
  width: 40%;
  font-size: 20px;
  opacity: 0;
}
.four.current .slide .content {
  margin-top: 100px;
}
.four.current .slide .content img {
  width: 200px;
  height: 400px;
  margin: 0 20px;
  transform: translate(0, 0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.four.current .slide .content img:hover {
  transform: scale(1.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.four.current .slide .content2 img {
  width: 400px;
  height: 200px;
  transform: translate(0, 0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.four.current .slide .content2 img:hover {
  transform: scale(1.5);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.four.current .slide p {
  opacity: 1;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}
.five h3 {
  font-size: 50px;
}
.five p {
  width: 600px;
  font-size: 20px;
  margin: 0 auto;
}
